
.container{
  padding: 2%;
  color: white;
  background: rgb(32, 32, 32);
  .poster{
    border-radius: 25px;
    width: 90%;
  }
  .title{
    display: flex;
    justify-content: center;
    text-align: center;
  }
}