.container{
  padding: 3% 5%;
  color: white;
  .movieContainer{
    .category{
      padding-left: 1%;
    }
    .sliderAffectedContainer{

      padding-left: 3%; 
    }
    .posterContainer{
      // border: solid;
      border-radius: 10px;
      margin-right: 5%;
      // width: 80%;
      padding-bottom: 20%;
      display: flex;
      align-items: center;
      flex-direction: column;
      transform: scale(.97);
 
      &:hover{
      // background-color: #087099;
      transform: scale(1);    
      transition: transform .2s;
      // transition: background-position 1s;
      cursor: pointer;

      }
      .poster{
        border-radius: 10px;
        padding-bottom: 0;
        width: 100%;
        &:hover{
          // border-radius: 10px 10px 0 0;
      }

      }
      .title{
        text-align: center;
      }
      .rating{
        color: white;
      }
    }
  }
}