
.container{
  padding: 5%;
  color: white;
  .movieContainer{
    .category{
      padding-left: 1%;
    }
    .sliderAffectedContainer{

      padding-left: 3%; 
    }
    .posterContainer{
      border-radius: 10px;
      margin-right: 5%;
      display: flex;
      align-items: center;
      flex-direction: column;
      transform: scale(.98);
 
      &:hover{
      background-color: #087099;
      transform: scale(1);    
      transition: transform .2s;
      cursor: pointer;

      }


      .poster{
        border-radius: 3px;
        padding-bottom: 0;
        width: 100%;

      }
      .title{
        text-align: center;
        padding-bottom: 10%;
      }
    }
  }
}
