
.container{
    // border: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 3%;
    // margin-left: 2%;
    .movie{
        // border: solid yellow;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 12%;
        // height: 50%;
        margin: 1%;
        transform: scale(.97);
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, transparent 75%, #087099 25%);
        transition: background-position .5s;

        &:hover{
        background-position: 0 -100%;

        transform: scale(1);    
        transition: transform .1s;
        transition: background-position .1s;


        cursor: pointer;
  
        }
        .poster{
            width: 100%;
            border-radius: 10px;
            &:hover{
                border-radius: 10px 10px 0 0;
            }
        }

        .title{
            color: white;
            text-align: center;
        }
        .rating{
            color: white;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .pagination{
        // border: solid white;
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .arrow{
            &:hover{
                cursor: pointer;
            }
        }
        .pageNumber{
            padding: 0 1%;
            &:hover{
                cursor: default;
            }
        }
    }
}
