.container{
    color: white;
}
.movieContainer{
    // border: solid white;
    padding: 7% 7% 3% 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
    .poster{
        border-radius: 10px;
    }
    .infoContainer{
        // border: solid yellow;
        width: 50%;
        margin-left: 5%;

    }
    .title{
        font-size: 50px;
    }

    .rating{
        // border: solid;
        color: white;
        margin-left: -1%;
    }
    .ratingContainer{
        display: flex;
        flex-direction: row;
    }
    .releaseDateContainer{
        margin-top: -2%;
        display: flex;
        flex-direction: row;
    }
    .runTimeContainer{
        display: flex;
        flex-direction: row;
    }
    .genreContainer{
        display: flex;
        flex-direction: row;
    }
    .description{

        padding-right: 1.5%;
    }
    .genre{
        // border: solid;
        margin-right: 1%;
    }
    .cast{
        // border: solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 50%;
        .castImageWrapper{
            position: relative;
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;;
        }
        .castImage{
            width: 100%;
            height: auto;
        }
        .castName{
            // border: solid;
            text-align: center;
        }
    }

}