
.movieList{

    // border: solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5%;
    margin-left: 2%;
    .movie{
        // border: solid white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15%;
        margin: 2%;
        padding-bottom: 2%;
        transform: scale(.98);
 
        &:hover{
        background-color: #087099;
        transform: scale(1);    
        transition: transform .2s;
        cursor: pointer;
  
        }
        .poster{
            width: 100%;
            // border-radius: 5px;
        }

        .title{
            // border: solid red;
            // border-radius: 3px;
            color: white;
            text-align: center;
        }
    }
    .pagination{
        // border: solid white;
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .arrow{
            &:hover{
                cursor: pointer;
            }
        }
        .pageNumber{
            padding: 0 1%;
            &:hover{
                cursor: default;
            }
        }
    }
}
.genre{
    // margin-top: 5
    padding: 0 5% 0 2.5%;
    // border: solid;
    width: 100%;
    color: white;
}