
.movieList{

    // border: solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5% 5%;
    .movie{
        // border: solid white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15%;
        margin: 2%;
        transform: scale(.98);
 
        &:hover{
        background-color: #087099;
        transform: scale(1);    
        transition: transform .2s;
        cursor: pointer;
  
        }
        .poster{
            width: 100%;
            border-radius: 3px;
        }

        .title{
            border-radius: 3px;
            color: white;
        }
    }
}
.genre{
    // margin-top: 5
    padding: 0 5% 2% 5%;
    // border: solid;
    width: 100%;
    color: white;
}