
.movieList{

    // border: solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 3%;
    margin-left: 2%;
    .movie{
        // border: solid white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 12%;
        margin: 1%;
        // padding-bottom: 2%;
        transform: scale(.97);
        // background-image: linear-gradient(to bottom, transparent 75%, #087099 25%);
        // background-size: 90% 200%;

        &:hover{
        background-color: #087099;
        // background-position: 0 -100%;

        transform: scale(1);    
        transition: transform .2s;
        // transition: background-position .05s;

        cursor: pointer;
  
        }
        .poster{
            width: 100%;
            border-radius: 10px;
            &:hover{
                border-radius: 10px 10px 0 0;
            }
        }

        .title{
            // border: solid red;
            // border-radius: 3px;
            color: white;
            text-align: center;
        }
        .rating{
            color: white;
        }
    }
    .pagination{
        // border: solid white;
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .arrow{
            &:hover{
                cursor: pointer;
            }
        }
        .pageNumber{
            padding: 0 1%;
            &:hover{
                cursor: default;
            }
        }
    }
}
.genre{
    // margin-top: 5
    padding: 0 5% 0 2.5%;
    // border: solid;
    width: 100%;
    color: white;
}